.content {
  .well {
    border-width: 0;
    box-shadow: rgba($black, .2) 0 1px 3px 0;
  }

  .btn-accent {
    background-color: $color-accent;
    color: $white !important;

    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }
}
