.content {
  .panel {
    margin-top: 2em;
    border-width: 0;

    &.chart {
      .panel-body {
        border-left: 5px solid $red;
      }

      p {
        font-size: $font-size-h2;
        font-weight: 400;
      }

      .progress {
        background-color: $gray-lighter;
        height: 4px;
        width: 80%;

        .progress-bar {
          background-color: $gray-dark;
        }

        &,
        .progress-bar {
          box-shadow: none;
        }
      }
    }

    &.buttons {
      .btn {
        border-width: 0;
        margin-right: 10px;
      }
    }
  }
}
