.table {
    td {
      vertical-align: middle;
    }

    .editable {
      background-color: $body-bg;
      border-width: 0;
      color: $text-color;

      &:focus {
        outline: none;
      }
    }
  }
