$black: #000;
$white: #fff;
$color-primary: #0ba89f;
$color-accent: #9d27b1;
$color-success: #4bb050;
$color-info: #1f96f3;
$color-warning: #f99403;
$color-danger: #ee4235;
$color-default: #e5e6e6;

$body-bg: #f7f7f8;
$text-color: #313534;
$link-color: #166391;
$brand-primary: $color-primary;
$brand-success: $color-success;
$brand-info: $color-info;
$brand-warning: $color-warning;
$brand-danger: $color-danger;
$btn-default-bg: $color-default;

$navbar-default-bg: #fff;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-height: 60px;
$screen-sm-min: 1px; /* do not collapse */

$border-radius-base: 0;

$navmenu-inverse-bg: #2b313a;
$navmenu-inverse-brand-bg: #20242b;
$navmenu-inverse-link-active-bg: transparent;
$navmenu-inverse-link-color: #b7b9bd;
$navmenu-width: 250px;

$pagination-active-bg: transparent;
$pagination-active-color: $color-primary;
$pagination-hover-bg: transparent;

$well-bg: $white;
$well-border: #7d7d8e;

$table-border-color: #e8e9e9;
