$black: #000;
$white: #fff;
$color-primary: #0a998c;
$color-accent: #9d27b1;
$color-success: #0090d8;
$color-info: #1f3853;
$color-warning: #fbb05e;
$color-danger: #f45959;
$color-default: #d1dade;

$body-bg: #e5e9ec;
$text-color: #505458;
$link-color: #166391;
$brand-primary: $color-primary;
$brand-success: $color-success;
$brand-info: $color-info;
$brand-warning: $color-warning;
$brand-danger: $color-danger;
$btn-default-bg: $color-default;

$navbar-default-bg: #fff;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-height: 60px;
$screen-sm-min: 1px; /* do not collapse */

$border-radius-base: 0;

$navmenu-inverse-bg: #2b313a;
$navmenu-inverse-brand-bg: #20242b;
$navmenu-inverse-link-active-bg: transparent;
$navmenu-inverse-link-color: #b7b9bd;
$navmenu-width: 240px;

$pagination-active-bg: transparent;
$pagination-active-color: $color-accent;
$pagination-hover-bg: transparent;

$well-bg: $white;
$well-border: #7d7d8e;

$progress-bar-bg: $white;
$progress-bg: rgba($black, 0.2);
$table-border-color: #e8e9e9;
