// Repeat Bootstrap definitions
$gray-base:    #000;
$gray-darker:  lighten($gray-base, 13.5%); // #222
$gray-dark:    lighten($gray-base, 20%);   // #333
$gray:         lighten($gray-base, 33.5%); // #555
$gray-light:   lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

$body-bg: $gray-lighter;
$text-color: $black;
$link-color: $purple;
$brand-primary: $purple;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $orange;
$brand-danger: $red;
$btn-default-bg: $silver;

$navbar-default-bg: $white;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-height: 60px;
$screen-sm-min: 1px; /* do not collapse */

$border-radius-base: 0;

$navmenu-inverse-bg: #2b313a;
$navmenu-inverse-brand-bg: #20242b;
$navmenu-inverse-link-active-bg: transparent;
$navmenu-inverse-link-color: #b7b9bd;
$navmenu-width: 240px;

$pagination-active-bg: transparent;
$pagination-active-color: $gray-light;
$pagination-hover-bg: transparent;

$well-bg: $white;
$well-border: $gray-lighter;

$table-border-color: $gray-lighter;
