<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    {% include navmenu.html %}
    {% include navbar.html %}
    <div class="content">
      <div class="container-fluid">
        {{ content }}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/offcanvas.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
